# Python
.venv/
__pycache__/
*.pyc
.idea/

# env
.env
keys/
*.p8

# Local
data/
*.xlsx
*.parquet
*.duckdb
ref
docs/evidence/

# dbt
dbt_packages/
logs/
target/
dbt-env/
!olist_analytics/seeds/*.csv

# Power BI
*.pbix
*.pbit
